[Desktop Entry]
Encoding=UTF-8
Name=LightScribe Labeler
Comment=LaCie LightScribe Labeler for Linux
Exec=4L-gui
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo
