[Unit]
Description=DisplayLink Manager Service
After=display-manager.service
Conflicts=getty@tty7.service

[Service]
ExecStartPre=/sbin/modprobe evdi
ExecStart=$DLM_PATH
Restart=always
WorkingDirectory=$DLM_DIR
RestartSec=5

[Install]
WantedBy=graphical.target
